---
import type { ContactModule } from "../../utils/sanity";

interface Props {
  module: ContactModule;
}

const { module } = Astro.props;
---

<section class="module module--contact">
  {module.contacts && module.contacts.length > 0 && (
    <div class="module--contact__list">
      {module.contacts.map((contact) => (
        <div class="module--contact__item">
          {contact.title && (
            <h3 class="module--contact__title font-s small-caps">{contact.title}</h3>
          )}
          {contact.url && (
            <a
              href={contact.url}
              class="module--contact__link font-m"
            >
              {contact.text || contact.url}
            </a>
          )}
        </div>
      ))}
    </div>
  )}
</section>