---
import Layout from "../layouts/Layout.astro";
import { getHomepage } from "../utils/sanity";
import ModuleRenderer from "../components/ModuleRenderer.astro";
import '../styles/pages/homepage.css';
import PortableText from "../components/PortableText.astro";

const homepage = await getHomepage();
---

<Layout title="Home">
  <div class="homepage__container">
    {homepage?.modules && homepage.modules.length > 0 ? (
      homepage.modules.map((module) => (
        <ModuleRenderer module={module} />
      ))
    ) : null }

    {homepage?.credits && homepage.credits.length > 0 ? (
      <div class="homepage__credits">
        <PortableText class="font-s" content={homepage.credits} />
      </div>
    ) : null }
  </div>
</Layout>
