---
import Layout from "../layouts/Layout.astro";
import { getHomepage } from "../utils/sanity";
import ModuleRenderer from "../components/ModuleRenderer.astro";
import '../styles/pages/homepage.css';

const homepage = await getHomepage();
---

<Layout title="Home">
  <div class="homepage__container">
    {homepage?.modules && homepage.modules.length > 0 ? (
      homepage.modules.map((module) => (
        <ModuleRenderer module={module} />
      ))
    ) : (
      <p>No content available. Please add modules to your homepage in Sanity Studio.</p>
    )}
  </div>
</Layout>
