.homepage__container {
  /* padding: var(--separator-large) 0; */
}

/* ------------------------------------------------------------ */

/*                             HERO                             */

/* ------------------------------------------------------------ */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: var(--separator-large) 0;
}

.hero__title {
  display: flex;
  flex-direction: column;
  gap: var(--separator-medium);
}

.hero__title h1 {
  letter-spacing: -0.09em;
}

.hero__text {
  margin-top: var(--separator-large);
  white-space: pre-line;
}

.hero__disclaimer {
  margin-top: var(--separator-small);
  border-top: .5px solid var(--black);
  border-bottom: .5px solid var(--black);
  padding: 5px 2px 4px;
}

.hero__image {
  margin-top: var(--separator-medium);
  width: calc((var(--column) * 4) + (var(--gap) * 3));
  line-height: 0;
}

.hero__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}