.homepage__container {
  /* padding: var(--separator-large) 0; */
}

/* ------------------------------------------------------------ */

/*                             HERO                             */

/* ------------------------------------------------------------ */

.module--hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: var(--separator-large) 0;
}

.hero__title {
  display: flex;
  flex-direction: column;
  gap: var(--separator-medium);
}

.hero__title h1 {
  letter-spacing: -0.09em;
}

.hero__text {
  margin-top: var(--separator-large);
  white-space: pre-line;
}

.hero__disclaimer {
  margin-top: var(--separator-small);
  border-top: .5px solid var(--black);
  border-bottom: .5px solid var(--black);
  padding: 5px 3px 4px;
}

.hero__image {
  margin-top: var(--separator-medium);
  width: calc(var(--column) * 4 + var(--gap) * 3);
  line-height: 0;
}

.hero__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* ------------------------------------------------------------ */

/*                             TEXT                             */

/* ------------------------------------------------------------ */

.module--text {
  display: flex;
  flex-direction: row;
  margin: var(--separator-large) auto;
}

.module--text[data-alignment="justify"] {
  text-align: justify;
}

.module--text {
  width: fit-content;
}

.text-column {
  width: calc(var(--column) * 6 + var(--gap) * 5);
}

.text-column:not(:last-child) {
  padding-right: 6px;
}

.text-column:not(:first-child) {
  padding-left: 6px;
  border-left: .5px solid var(--black);
}

/* ------------------------------------------------------------ */

/*                             CONTACT                          */

/* ------------------------------------------------------------ */

.module--contact {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: var(--separator-large) auto;
}

.module--contact__list {
  display: flex;
  gap: var(--gap);
}

.module--contact__item {
  width: 175px;
}

/* ------------------------------------------------------------ */

/*                             DATA BOX                          */

/* ------------------------------------------------------------ */

.module--data-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: justify;
  margin: var(--separator-large) auto;
  border: .5px solid var(--black);
  padding: calc(var(--gap) * 2);
  width: fit-content;
}

.module--data-box__title,
.module--data-box__title-dots {
  display: inline;
}

.module--data-box__grid {
  display: flex;
}

.module--data-box__item[data-columns="1"] {
  width: calc(var(--column) * 1 + var(--gap) * 0);
}

.module--data-box__item[data-columns="2"] {
  width: calc(var(--column) * 2 + var(--gap) * 1);
}

.module--data-box__item[data-columns="3"] {
  width: calc(var(--column) * 3 + var(--gap) * 2);
}

.module--data-box__item[data-columns="4"] {
  width: calc(var(--column) * 4 + var(--gap) * 3);
}

.module--data-box__item[data-columns="5"] {
  width: calc(var(--column) * 5 + var(--gap) * 4);
}

.module--data-box__item:not(:last-child) {
  padding-right: 6px;
}

.module--data-box__item:not(:first-child) {
  padding-left: 6px;
  border-left: .5px solid var(--black);
}

.module--data-box__text {
  white-space: pre-line;
}

/* ------------------------------------------------------------ */

/*                         FEATURED PROJECT                         */

/* ------------------------------------------------------------ */

.module--featured-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: var(--separator-xlarge) auto;
  width: calc(var(--column) * 6 + var(--gap) * 5);
}

.module--featured-project__video {
  display: contents;
}

.module--featured-project__media {
  line-height: 0;
  display: flex;
  margin-top: calc(var(--gap) * 2);
}

.module--featured-project .media-element {
  width: 100%;
  border: .5px solid var(--black);
}

.module--featured-project__title strong {
  font-weight: 700;
}

.module--featured-project__header {
  text-align: center;
}

.module--featured-project__label {
  margin-bottom: var(--separator-small);
}

.module--featured-project__text {
  margin-top: var(--separator-small);
}

/* ------------------------------------------------------------ */

/*                             CREDITS                          */

/* ------------------------------------------------------------ */

.homepage__credits {
  white-space: pre-line;
  text-align: center;
}