:root {
  --gap: 12px;
  --column-fixed: 52px;
  --column-fluid: calc((100vw - (var(--gap) * 25)) / 24);
  --column: min(var(--column-fluid), var(--column-fixed));
  --separator-small: 18px;
  --separator-medium: 36px;
  --separator-large: 72px;
  --separator-xlarge: 144px;

  --cream: #FFFCF1;
  --black: #000000;
  --selection-background-color: #f9f964;
  --selection-foreground-color: var(--black);

  --font-s: 9px;
  --font-m: 12px;
  --font-l: 18px;
  --font-xl: 27px;

  --font-xs: 7px;
  --font-s: 10px;
  --font-m: 13px;
  --font-l: 20px;
  --font-xl: 30px;

  --transition-effect: cubic-bezier(0.215, 0.610, 0.355, 1);
  --page-fade: 0.5s;
}

@media only screen and (max-width: 820px) {
  :root {
    --font-m: 11px;
    --home-pad: 20px;
    --home-text: 250px;
    --home-wide: min(350px, calc(100vw - var(--home-pad) * 2));
  }
}
