:root {
  --gap: 12px;
  --column: 52px;
  --dynamic-column: calc( (100vw - (var(--gap) * 25)) / 24 );
  --separator-small: 18px;
  --separator-medium: 36px;
  --separator-large: 72px;
  --separator-xlarge: 144px;

  --cream: #FFFCF1;
  --black: #000000;

  --font-s: 9px;
  --font-m: 12px;
  --font-l: 18px;
  --font-xl: 27px;

  --font-s: 10px;
  --font-m: 13px;
  --font-l: 20px;
  --font-xl: 30px;

  --transition-effect: cubic-bezier(0.215, 0.610, 0.355, 1);
}
