:root {
  --gap: 10px;
  --column: calc(((100vw) - (var(--gap) * 25)) / 24);
  --separator-small: 13px;
  --separator-medium: 26px;
  --separator-large: 52px;

  --cream: #FFFCF1;
  --black: #000000;

  --font-s: 7px;
  --font-m: 9px;
  --font-l: 16px;
  --font-xl: 24px;

  --font-s: 9px;
  --font-m: 12px;
  --font-l: 18px;
  --font-xl: 27px;
}
